body{
    margin:0;
    font-family:'poppins',roboto;
}
.container{
    padding:5% 6%;
}
.d-flex{
    display:flex;
}
h1{
    color:#575757;
}
.header-logo {
    width: 23.6%;
    margin: auto;
    border: 7px solid #FC8D48;
    border-top: 0;
    border-radius: 20px;
    box-shadow: #fc8d48c4 0px 0px 22px;
    padding: 0px 10px;
}
.header-logo img {
    width: 80px;
    height: 80px;
    margin-right: 7px;
}
.header-logo h1{
    margin-top:8px;
}
.h-description h1 {
    font-size:60px;
    margin: 0;
}
.h-description p {
    color: #828282;
    font-size: 20px;
    font-weight: 500;
    width: 80%;
    margin-bottom:60px;
}
.h-description, .h-img,.abt-desc,.abt-img{
    width: 50%;
    margin: auto 0px;
}
.h-img img{
    width:100%;
}
a#gradient-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right,#FBA24F,#FF1E1E);
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}
/**header section end**/
.about {
    background-image: url(images/about-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.abt-desc p {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    width: 90%;
    letter-spacing: .8px;
    text-align: justify;
    margin-bottom: 20%;
}
.abt-desc h1 {
    font-size: 50px;
}
/**about section end**/
.recipi-info p {
    margin: auto;
    width: 60%;
    margin-bottom: 40px;
    margin-top: 20px;
    letter-spacing: .5px;
}

.recipi-info h1 {
    font-size: 40px;
    margin-bottom: 0;
}
.recipi-info {
    text-align: center;
}
.r-box p {
    letter-spacing: .5px;
    line-height: 26px;
}

.r-box h1 {
    color: black;
    font-size: 26px;
    margin-bottom: -8px;
}
.r-box {
    width: 33.33%;
    box-shadow: #00000038 0px 0px 19px;
    margin: 2.5%;
    padding: 1.5%;
    border-radius: 20px;
}
.r-box img {
    width: 100%;
    border-radius: 20px;
}
/**recipies section end**/
.s-box {
    width: 33.33%;
    text-align: center;
}
.s-boxes {
    box-shadow: #00000038 0px 0px 19px;
    border-radius: 20px;
    padding: 2% 0px;
}
.s-box p {
    font-size: 16px;
}

.s-box h1 {
    font-size: 48px;
    font-weight: 700;
    color: #18191F;
    font-family: monospace;
    margin: 16px;
}
/**subscription section end**/
footer p {
    margin: 0;
}

footer {
    background-color: #0B0D17;
    text-align: center;
    color: white;
    padding: 3% 0% 6% 0%;
}
/**footer end**/